@font-face{
	font-family: "customFont"; 
	/* Please note the ../ in front of fonts, this will enable you to properly link to fonts that are located in the root of your website */
	src: url("../fonts/pacifico.ttf") format("truetype");
}

h1{
	text-align: center;
	font-family: "customFont"; /* This is how you apply the fonts to a selector */
}

p{
	font-size: 16px;
}

/* Below is an example of a CLASS, which uses . infront of a custom selector */
/* CLASS can be used multiple times in document */
.f24p{
	font-size: 24px;
}

/* Below is an example of an ID, which uses # infront of a custom selector */
/* ID are used in unique cases - so once in a document */
#happymeal{
	text-shadow: 2px 2px 4px darkgrey;
}

#header{
	width:100%;
	height: 175px;
	background-color: #f4b70099;
}

#logo{
	width: 200px;
	height:100%;
	background-color: #00967cc7;
	border-radius: 10px;
	margin-left: 10%;
	display: inline-block;
}

#headImage{
	width: 300px;
	height: 100%;
	background-color: #ff57224f;
	display: inline-block;
	float: right;
	border-radius: 10px;
	margin-right: 10%;
}

#menu{
	width: 80%;
	height: 50px;
	margin-left: 10%;
	margin-right: 10%;
	background-color: #7ebdf0;
	display: flex;
	justify-content: space-around;
}

.menuItem{
	padding: 15px;
}

.menuItem:hover{
	background-color: #2f49d5; 
	/*added background*/
}

#bodyContent{
	width: 80%;
	height: 500px;
	margin-left: 10%;
	margin-right: 10%;
	border-style: dotted;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
}
#bodyImage{
	width: 500px;
	height: 500px;
	background-color: #ffc10787;
	border-radius: 50%;
	display: inline-block;
}
#bodyText{
	width: 300px;
	height: 500px;
	display: inline-block;
	float: right;
	margin-top: 55px;
}

#footer{
	width: 100%;
	height: 250px;
	background-color: #f4b70099;
}

div{
	display: block;
}